*{
 
  font-family:sans-serif;
  line-height: 22px;
  padding: 0px,0px,0px,0px;
  margin: 0px,0px,0px,0px;
}
body{
  text-align: center;
  padding: 0px,0px,0px,0px;
   background-color: #00003B;
  color: white;
}

#content{
  margin-left: 20px;
  margin-right: 20px;
}

h2{
  text-align: center;
}

p{
  font-size: 14px;
}



.header-img {
  width: 100%;
height: 200px;
background: url(spacex_images/spacexheader-01.png);
background-size: cover;
}

footer{
  background:#2E005C;
}

#footer-block p{
  background:#2E005C;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#footer-block {
  background:#2E005C;
  margin-bottom: 10px;
  margin-top: 10px;
}



.nav-btn {
  display: inline;
  float: left;

}


#navbar a {
  display: block;
  padding: 30px,0px,30px,0px;
  background-color: #10A3A3;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #10A3A3;
}



.nav-btn a {
  display: block;
  color: #00264D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-btn a:hover {
  background-color: #782478;
}









* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.gallery {
	background-color: #CCC;
	width: 400px;
	margin-top: 00px;
	margin-right: auto;
	margin-left: auto;
	border: none;
	height: 300px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 4px;
}
.gallery img {
	margin: 0px;
}